<% @page_title = "New Program" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="programs new">
  <h2> Create Program</h2>
  
  <%= form_for(:program, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>
  
  
  <div class="form-buttons">
    <%= submit_tag("Create Program") %>
  </div>
  <% end %>  
</div>
