<% @page_title = "New Agency" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="agencies new">
  <h2> Create Agency</h2>
  
  <%= form_for(:agency, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>
  
  
  <div class="form-buttons">
    <%= submit_tag("Create Agency") %>
  </div>
  <% end %>  
</div>
