<!DOCTYPE html>
<html>
	<head>
	  <title>Red Book | <%= @page_title || "Admin" %></title>
      <%= stylesheet_link_tag('application', :media => 'all') %>
	</head>
	
	<body>
	  <div id="header">
	    <h1> Red Book </h1>
	  </div>
	  <div id="main">
	    <% if !flash[:notice].blank? %>
			<div class="notice"]>
				<%= flash[:notice] %>
			</div>
		<% end %>
	  
	  
	    <div id="content">
			<!-- before yield -->
			<%= yield %>
			<!-- after yield -->
		</div>
	  <div>
	  <div id="footer">
		<p id="copyright">&copy bgadd.org / New</p>
	  </div>
	</body>
</html>
